<h1>Create Badge</h1>


<%= simple_form_for @badge do |f| %>
	
	<div class="panel panel-default">
		<div class="panel-body">

			<div class="form-group">
				<%= f.label :category %>
				<%= f.select :badge_category, BadgeCategory.all.map { |r| [r.name, r.id] }, include_blank: true %>
			</div>

			<div class="form-group">
				<%= f.input :name %>
			</div>

			<div class="form-group">
				<%= f.input :badge_image %>
			</div>

			<div class="form-group">
				<%= f.submit %>	
			</div>

		</div>
	</div>

<% end %>