<h1><div class="icon news"></div><span>Newsfeed</span></h1>

<% @shouts.each do |shout| %>
	<div class="row shout">
		<section class="shout-time">
			<p><%= time_ago_in_words(shout.created_at) %> ago</p>
		</section>
		<section>
			<div class="large-badge <%= shout.badge.badge_category.short_name %>">
			<div class="icon <%= shout.badge.badge_category.short_name %>-<%= shout.badge.short_name %>"></div></div>
			<p><span class="shout-name"><%= shout.receiver.full_name %></span>shouted by <%= shout.sender.full_name %></p>
			<% if !shout.badge.nil? %>
				<p class="badge-name"><%= shout.badge.name %></p>
				<p class="badge-category"><%= shout.badge.badge_category.name %></p>
			<% end %>
			<p class="badge-why"><%= shout.notes %></p>
		</section>
		<section>
			<div class="shout-activity">
				<p class="like-wrapper"><span class="icon like"></span>12</p>
				<p class="comment-wrapper"><span class="icon comment"></span>12</p>
			</div>
			<div class="shout-actions">
				<p class="like-wrapper">
					<%= link_to like_shout_path(shout), remote: true, method: :post, id: "like-shout-button" do %>
						Like
						<span class="icon like blue"></span>
					<% end %>
				</p>
				<p class="comment-wrapper"><a href="#"><span class="icon comment blue"></span>Comment</a></p>
			</div>
		</section>
	</div>
<% end %>
