<aside>
	<h2><span>Select a shout badge.</span></h2>

	<div class="row shouts">
		<section>
			<div class="large-badge" id="largeBadgeCategory"><div class="icon" id="badgeType"></div></div>
			<p class="badge-name">Java Barista</p>
			<p class="badge-category">Engineering</p>

			<p class="badge-why">This employee crafts the perfect cup of code consistently. They serve the team with the freshest insight and implement accordingly.

			</p>
		</section>
	</div>

	<div class="badge-list">
		<section class="well">
			<div class="row badge-category">
				<% @badge_categories.each do |key, badges| %>
						<p class="category-title"><%= key %></p>
						<% badges.each do |badge| %>
								<section>
									<div class="large-badge <%= badge.badge_category.short_name %>"><div class="icon badge-category-name <%= badge.badge_category.short_name %>-<%= badge.short_name %>"></div>
									</div>
									<p><%= badge.name %></p>
								</section>
						<% end %>
				<% end %>
			</div>
		</section>
	</div>
</aside>
