<!DOCTYPE html>
<html>
<head>
  <title>Shoutr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<% if request.env['PATH_INFO'] == "/users/sign_in" %>
	<body class="sign-in-bg">
<% else %>
	<body>
<% end %>
	<header>
		<section>
			<div>
				<%= render 'layouts/header' %>
			</div>
		</section>
	</header>
	<%= render 'layouts/flash/messages' %>
	<div class="wrapper">
		<section>
			<div>
				<section>
					<% if user_signed_in? %>
						<% if request.env['PATH_INFO'] == "/shout/new" %>
							<div class="col-md-3 primary-sidebar sidebar">
								<%= render 'layouts/primary_sidebar_new' %>
							</div>
						<% elsif request.env['PATH_INFO'] == "/profile/10" %>
							<div class="col-md-3 primary-sidebar sidebar">
								<%= render 'layouts/primary_sidebar_profile' %>
							</div>
						<% else %>
							<div class="col-md-3 primary-sidebar sidebar">
								<%= render 'layouts/primary_sidebar' %>
							</div>
						<% end %>
						<div class="col-md-6 page-content">
							<%= yield %>
						</div>
						<div class="col-md-3 secondary-sidebar sidebar">
							<%= render 'layouts/secondary_sidebar' %>
						</div>
					<% else %>
						<div class="set-width">
							<%= yield %>
						</div>
					<% end %>
				</section>
			</div>
		</section>
	</div>
</body>
</html>
